<div class="container">
    <mat-card class="item-card">
      <mat-card-header>
        <mat-card-title>João Victor Castro de Oliveira</mat-card-title>
        <mat-card-subtitle>joao.oliveira@alunos.ifsuldeminas.du.br</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image
        src="https://scontent-gru1-1.xx.fbcdn.net/v/t1.0-9/s960x960/53588528_2523006341048380_4503396346568376320_o.jpg?_nc_cat=108&_nc_oc=AQkGfYxCEeivs0wE1I_5VVt6HzEkwTncMBbqGJ6J90xJCisDbzk8l2985lSr6MMn8xQ&_nc_ht=scontent-gru1-1.xx&oh=2d93eaa0d1415745f00158ecc24a34f9&oe=5E61D02A">
      <mat-card-content>
        <p>
          Instituição: Instituto Federal do Sul de Minas Gerais - Campus Poços de Caldas <br>
          Curso: Engenharia de Computação <br>
          Celular: (35) 22234-2399 <br>
        </p>
      </mat-card-content>
    </mat-card>
    </div>
  